.prettyFlowerTime {
	height: 350px;
	width: 1000px;
	display: inline-block;
	border: 3px red dashed;
}

.profile { 
	height:300px;
	margin-top: 22px;
	margin-left: 70px;
	float: right;
	border: 3px blue dashed;
}

h1 {
	text-align: center;
}

img {
	height: 350px;
	width: 350px; 
	margin-left: 25px;
}

ul {
	float: right;
	margin-right: 95px;
}